@keyframes jumpInfinite1 {
  0% {
    transform: translate(31.564px, 7.099px);
  }
  50% {
    transform: translate(15.564px, 7.099px);
  }
  100% {
    transform: translate(31.564px, 7.099px);
  }
}
@keyframes jumpInfinite2 {
  0% {
    transform: translate(0, 7.098px);
  }
  50% {
    transform: translate(-8px, 7.098px);
  }
  100% {
    transform: translate(0, 7.098px);
  }
}
@keyframes jumpInfinite3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-8px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.intro-home {
  position: relative;
}
.intro-home h1 {
  font-size: 80px;
  line-height: 1em;
  font-family: "circular-book";
}
.intro-home h1 span a {
  display: inline-block;
  padding: 2px 7px;
  font-family: "sentinel-bold-italic";
  transition: all 0.3s;
}
.intro-home h1 span a:hover {
  color: #fff;
  background: #DE4C4C;
}
.intro-home #scroll-intro-home {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
}
.intro-home #arrow-down {
  height: 55px;
}
.intro-home #arrow-down #Path_4736 {
  animation: jumpInfinite1 1.5s infinite;
}
.intro-home #arrow-down #Path_3034 {
  animation: jumpInfinite2 1.5s infinite;
}
.intro-home #arrow-down #Path_3033 {
  animation: jumpInfinite3 1.5s infinite;
}

.paragraph-text-intro .content {
  font-size: 40px;
}
.paragraph-text-intro .content * {
  font-family: "circular-book";
}

.paragraph-links ol {
  counter-reset: my-awesome-counter;
  margin-left: 33px;
}
.paragraph-links ol li {
  counter-increment: my-awesome-counter;
  list-style: none;
}
.paragraph-links ol li:before {
  content: "0" counter(my-awesome-counter);
  font-family: "circular-book";
  font-size: 16px;
  line-height: 1;
}
.paragraph-links ol li a {
  margin-left: 20px;
  padding: 10px;
  display: inline-block;
  font-family: "sentinel-bold-italic";
  font-size: 100px;
  transition: all 0.3s;
}
.paragraph-links ol li a:hover {
  background-color: #DE4C4C;
  color: #fff;
}

.paragraph-carousel .highlighted-client {
  margin-left: -50px;
  margin-right: -50px;
  width: 100%;
  position: relative;
}
.paragraph-carousel .highlighted-client:before {
  content: "";
  height: 85%;
  width: 50%;
  position: absolute;
  z-index: 0;
  bottom: 0;
  background-color: #F0F0F0;
}
.paragraph-carousel .highlighted-client .wrapper {
  position: relative;
  z-index: 1;
  max-width: 850px;
  margin: auto;
}
.paragraph-carousel .highlighted-client .wrapper img {
  max-width: 300px;
}
.paragraph-carousel .highlighted-client .wrapper .text {
  padding-left: 70px;
  padding-top: 50px;
  font-family: "circular-book";
  justify-content: center;
}
.paragraph-carousel .highlighted-client .wrapper .text h2 {
  font-size: 70px;
  font-family: "sentinel-bold-italic";
  line-height: 1.1em;
  padding-bottom: 20px;
}
.paragraph-carousel .carousel-swiper {
  margin-top: 50px;
  position: relative;
}
.paragraph-carousel .carousel-swiper .btns-slider {
  position: absolute;
  z-index: 3;
  width: 70px;
  left: -130px;
  top: 60px;
}
.paragraph-carousel .carousel-swiper .btns-slider .swiper-button-next, .paragraph-carousel .carousel-swiper .btns-slider .swiper-button-prev {
  width: 20px;
  height: 20px;
  background: url("/img/slider-next.svg") no-repeat center center;
}
.paragraph-carousel .carousel-swiper .btns-slider .swiper-button-next:after, .paragraph-carousel .carousel-swiper .btns-slider .swiper-button-prev:after {
  display: none;
}
.paragraph-carousel .carousel-swiper .btns-slider .swiper-button-next:hover, .paragraph-carousel .carousel-swiper .btns-slider .swiper-button-prev:hover {
  opacity: 0.6;
}
.paragraph-carousel .carousel-swiper .btns-slider .swiper-button-prev {
  background: url("/img/slider-prev.svg") no-repeat center center;
}

.paragraph-highlighted-text {
  background-color: #000;
}
.paragraph-highlighted-text .content {
  padding: 0 150px 0 50px;
}
.paragraph-highlighted-text .content * {
  font-size: 80px;
  color: #fff;
  font-family: "circular-book";
}
.paragraph-highlighted-text .content i, .paragraph-highlighted-text .content em {
  font-family: "sentinel-semibold-italic";
}

.paragraph-latest-news {
  background-color: #000;
}
.paragraph-latest-news .d-flex > div {
  width: calc(50% - 20px);
}
.paragraph-latest-news .d-flex h2 {
  padding: 20px 0;
}
.paragraph-latest-news .title-block {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 1.5rem;
  font-family: "circular-book";
}

.paragraph-team {
  background-color: #000;
}

.paragraph-text-simple .container {
  position: relative;
}
.paragraph-text-simple .container .bg-text {
  font-size: 300px;
  position: absolute;
  z-index: 0;
  left: -150px;
  color: #EBEBEB;
  top: calc(50% - 230px);
  font-family: "circular-black";
}
.paragraph-text-simple .container .content {
  position: relative;
  z-index: 1;
}

.paragraph-list-clientes .list-items {
  grid-template-columns: auto auto auto;
  padding: 20px 0 0 120px;
}
.paragraph-list-clientes .filters {
  text-align: right;
  border-bottom: 1px solid #000;
}

#filter-form-clients {
  height: 100vh;
  width: calc(100% - 60px);
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  display: none;
  padding: 30px;
  z-index: 10;
}
#filter-form-clients.active {
  display: block;
}
#filter-form-clients .top {
  text-align: right;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .intro-home h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 580px) {
  .intro-home h1 {
    font-size: 40px;
  }
  .intro-home h1 span a {
    padding: 0;
  }
  .intro-home h1 span a:hover {
    background: transparent;
    color: inherit;
  }
  .intro-home #scroll-intro-home {
    bottom: 0;
  }

  .paragraph-links ol {
    margin-left: 0;
  }
  .paragraph-links ol li {
    margin-bottom: 10px;
  }
  .paragraph-links ol li a {
    font-size: 40px;
  }

  .paragraph-carousel .highlighted-client .wrapper {
    flex-direction: column;
  }
  .paragraph-carousel .highlighted-client .wrapper .text {
    padding-left: 20px;
  }
  .paragraph-carousel .highlighted-client .wrapper .text h2 {
    font-size: 50px;
  }

  .paragraph-text-intro .content {
    font-size: 30px;
  }

  .paragraph-latest-news .d-flex {
    flex-direction: column;
  }
  .paragraph-latest-news .d-flex > div {
    width: 100%;
    margin-bottom: 3rem;
  }
  .paragraph-latest-news .d-flex > div:last-child {
    margin-bottom: 0;
  }

  .paragraph-carousel .highlighted-client {
    margin: 0;
  }
  .paragraph-carousel .highlighted-client:before {
    width: 100%;
    height: 45%;
    bottom: auto;
    top: 40px;
  }
  .paragraph-carousel .highlighted-client .wrapper img {
    max-width: 170px;
    margin: auto;
  }
  .paragraph-carousel .highlighted-client .wrapper .text {
    padding-left: 0;
    font-size: 20px;
  }
  .paragraph-carousel .carousel-swiper .swiper-custom-carousel {
    width: calc(100% - 100px);
    margin-left: 100px;
  }
  .paragraph-carousel .carousel-swiper .btns-slider {
    left: 0px;
  }
}

/*# sourceMappingURL=modules.css.map */
