<div class="paragraph-latest-news p-big m-big">
  <div class="container">
    <div class="d-flex">
      <div class="article-teaser-latest">
        <h2>
          Digital Marketing Mistakes To Avoid In 2021
        </h2>
        <div class="content">
          <p>Having a well-thought-out plan for digital marketing is crucial to up your marketing efforts.</p>
        </div>
      </div>
      <div class="article-teaser-latest">
        <h2>
          Digital Marketing Mistakes To Avoid In 2021
        </h2>
        <div class="content">
          <p>Having a well-thought-out plan for digital marketing is crucial to up your marketing efforts.</p>
        </div>
      </div>
    </div>
  </div>
</div>