<div class="paragraph-list-clientes border-title m-big">
  <div class="container">
    <div class="title">
      Clientes
    </div>
  </div>
  <div class="highlighted-clientes">
    <div class="carousel-swiper">
        <div class="swiper swiper-slider-clients">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="client-slider-highlighted d-flex flex-col" style="background-image:url('/img/client-destacat.jpg')">
                <div class="container">
                  <div class="tag">Nombre etiqueta</div>
                  <h3>Hospital Sant Joan de Déu</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="list-clientes">
      <div class="filters">
        Filtrar
      </div>
      <div class="list-items d-grid">
        <div class="client-list-teaser">
          Hospital sant joana de deu
          <p>dwdwd wd wdwd w</p>
        </div>
         <div class="client-list-teaser">
          Hospital sant joana de deu
          <p>dwdwd wd wdwd w</p>
        </div>
         <div class="client-list-teaser">
          Hospital sant joana de deu
          <p>dwdwd wd wdwd w</p>
        </div>
        <div class="client-list-teaser">
          Hospital sant joana de deu
          <p>dwdwd wd wdwd w</p>
        </div>
      </div>
    </div>
  </div>
</div>