<div class="paragraph-links m-big border-title">
  <div class="container">
  <div class="title">
    Servicios
  </div>
  <div class="content reserve-links">
    <ol>
      <li><a href="#">Estrategia</a></li>
      <li><a href="#">Estrategia</a></li>
      <li><a href="#">Estrategia</a></li>
      <li><a href="#">Estrategia</a></li>
    </ol>
  </div>
  <div class="link-more-generic">
    <a href="#">Ver todos los servicios</a>
  </div>
  </div>
</div>