@import 'mixins';

#header {
  padding-top:20px;
  .logo{
    max-width:160px;
    a{
      margin-top:10px;
      display:inline-block;
      img{
        max-width:100%;
      }
    }
    
  }
	.wrapper-top {
		display: flex;
		justify-content: space-between;
    align-items: center;
    padding:0 50px;
		.wrapper-right {
			display: flex;
			height: 80px;
			align-items: center;
			.wrapper-language {
				margin-right:50px;
				color:$blanc;
				text-align: center;
				select {
					appearance:none;
					color:$blanc;
					background: none;
					border:none;
					font-size:15px;
					font-family:'inter-bold';
				}
			
			}
			
			.ico-menu {
				padding-left:30px;
        padding-top:5px;
				.bar {
					width: 30px;
					height: 4px;
					margin:4px 0;
					transition: all .5s ease;
					background-color: $negre;
					margin: 0 0 5px 0;
					&:hover {
						cursor: pointer;
            
					}
          &:nth-child(2){
            width:20px;
            margin-left:10px;
            transition:all .3s;
          }
				}
				&:hover {cursor: pointer;
          .bar{
            &:nth-child(2){
              width:30px;
              margin-left:0;
            }
          }
          
        }
			}
		}
	}
	.wrapper-submenu {
		height: 75px;
		ul {
			width: 100%;
			display: flex;
			justify-content: space-between;
			height: 100%;
    		align-items: center;
			li {
				height: 100%;
				display: flex;
			    flex-direction: column;
			    justify-content: center;
				a {
					display: inline-block;
					padding:20px;
					color:$blanc;
					text-transform: uppercase;
					font-size: 14px;
					letter-spacing: 1px;
					font-family:'inter-bold';
					height: 100%;
				    display: flex;
				    flex-direction: column;
				    justify-content: center;
				    text-align: center;
				}
				&:first-child {
					a {
						font-size: 20px;
						font-family:'TiemposFine';
						padding: 20px 40px;
					}
				}
			}
		}
	}
}


.wrapper-navigation {
	display: none;
	height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color:$negre;
    .ico-close {
    	position: absolute;
    	top:45px;
    	right: 50px;
    	width: 25px;
    	height: 25px;
    	&:after, 
    	&:before {
    		background: $blanc;
			color: $blanc;
			content: '';
			height: 3px;
			left: 50%;
			top: 50%;
			transform: translate3d(-50%, -50%, 0) rotate(45deg);
			transition: all 400ms cubic-bezier(0.25, 0.60, 0.36, 1);
			position: absolute;
			top: 50%;
			width: 30px;
		}
		&:before {
			transform: translate3d(-50%, -50%, 0) rotate(-45deg);
			transition-delay: 65ms;
		}
		&:hover {
			cursor:pointer;
			&:after {
				transform: translate3d(-50%, -50%, 0) rotate(225deg);
			}
			&:before {
				transform: translate3d(-50%, -50%, 0) rotate(135deg);
			}
		}
    }
	.wrapper-content {
    background:$negre;
		float: right;
		height: 100%;
		padding: 120px 50px;
    	justify-content: flex-start;
      width:35%;
		.wrapper-top {
			display: flex;
			justify-content: space-between;
			.wrapper-left {
				padding-right: 40px;
				.main-menu {
					li{
            margin-bottom:5px;
            a {
              font-size: 48px;
              font-family:'sentinel-bold-italic';
              display: inline-block;
              color:$blanc;
              &:hover {
                color:$vermell;
              }
            }
            ul{
              margin-top:25px;
              margin-left:25px;
              li{
                margin-bottom:10px;
                a{
                  font-size:32px;
                  padding:0;
                }
              }
            }
          }
				}
			}
			.wrapper-right {
				min-width: 225px;
				.secondary-menu {
					margin-bottom: 50px;
					li a {
						font-size: 26px;
						font-family:'TiemposFine';
						display: inline-block;
						padding:10px 0;
					}
				}
				.tertiary-menu {
					li {
						display: block;
						margin-bottom: 15px;
						a {
							display: inline-block;
						    font-size: 14px;
						    padding: 15px 25px;
						    font-family: 'inter-bold';
						    border: 1px solid #fff;
						    width: 100%;
						    text-align: center;
						    text-transform: uppercase;
						    &:hover {
						    	background: $blanc;
						    }
						}
					}
				}
			}
		}
		.wrapper-bottom {
			text-align: right;
			.wrapper-language {
				margin-bottom: 40px;
				color:$blanc;
				text-align: right;
				select {
					appearance:none;
					color:$blanc;
					background: none;
					border:none;
					font-size:15px;
					font-family:'inter-bold';
				}
				.lang-dropdown-form {
					width: 100%;
					text-align: right;
				}
				.dd-container {
					width: 110px!important;
					display: inline-block;
					.dd-select {
						display: none;
					}
					.dd-options {
						background: none!important;
						border:none;
						box-shadow: none;
						display: block!important;
						width: 110px!important;
						height: 20px!important;
						position: inherit;
						li {
							display: inline-block;
							margin:0 0 0 15px;
							.dd-option {
								padding:0;
								color:$blanc;
								background: none;
								border:none;
								font-size:14px;
								font-family:'inter-bold';
								text-transform: uppercase;
								letter-spacing: 1px;
								
							}
						}
					}
				}
			}
			.xarxes {
				p {
					display: inline-block;
					vertical-align: middle;
					margin:0;
					font-size: 14px;
					margin-right: 20px;
				}
				ul {
					display: inline-block;
					vertical-align: middle;
					li {
						display: inline-block;
						vertical-align: middle;
						margin:0 0 0 15px;
						a {
							display: block;
							img {width: 20px;}
							&:hover {opacity: .5;}
						}
					}
				}
			}
		}
	}	
  .section-menu-mobile{
    position:absolute;
    width:calc(40% - 140px);
    top:47px;
    .logo{
      display:none;
    }
    .link{
      margin-left:auto;
    }
  }
}

.menu-open {
	header {}
	.wrapper-navigation {}
}

@media screen and (max-width:1200px){
	
	.wrapper-navigation {
		.wrapper-content {
			.wrapper-top {
				.wrapper-left {
					.main-menu li a {
						font-size: 48px;
					}
				}
			}
		}
	}
	
}

@media screen and (max-width:992px){
  .wrapper-navigation .wrapper-content{
    width:70%;
  }
	#header {
		.logo img {width: 180px;}
		.wrapper-right {
			.wrapper-user,
			.wrapper-search {
				margin-right: 30px;
			}
			.wrapper-language {
				margin-right: 30px;
			}
		}
    .wrapper-top{
      padding:0 20px;
    }
	}
	.menu-open {
		.wrapper-navigation {
			z-index: 9;
		}
	}
	.wrapper-navigation {
		.ico-close{
      right:20px;
    }
    .section-menu-mobile{
      position:absolute;
      top:50px;
      width:calc(70% - 30px);
      
     
    }
	}
	
}

@media screen and (max-width:600px){
	.wrapper-navigation {
		.wrapper-content {
      width:calc(100% - 70px);
			.wrapper-top {
				.wrapper-left {
					padding-right: 20px;
					.main-menu li a {font-size: 48px;}
				}
			}
		}
	}
	
}

@media screen and (max-width:580px){
	.wrapper-navigation {
		.ico-close {
			right:20px;
		}
		.wrapper-content {
			display: block;
			.wrapper-top {
				display: block;
				.wrapper-left {
					width: 100%;
					padding:0 0 20px 0;
					margin-bottom: 20px;
					.main-menu li a {
						
						padding: 5px 0;
					}
				}
			
			}
			.wrapper-bottom {
				.wrapper-language {
					text-align: left;
					padding-bottom: 20px;
					margin-bottom: 20px;
				}
				.xarxes {text-align: left;}
			}
		}
    .section-menu-mobile{
      width:calc(100% - 90px);
      top:45px;
      .logo{
        display:block;
        max-width:95px;
        img{
          width:100%;
        }
      }
    }
	}
	#header {
    .logo{
      max-width:95px;
    }
    
  }
}




